################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/_AW_KeyaTwinTrack
/__vm
build
/_AW_KeyaTwinTrack.ino.TEENSY41.hex
/.vs/CopilotSnapshots/77C9ECE94E83E444B1E6349B38C7A638
Flasher/Source/.vs
Flasher/Source/obj
Flasher/Source/bin
