################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/_AW_KeyaTwinTrack
/__vm
build
/_AW_KeyaTwinTrack.ino.TEENSY41.hex
